{
	"seruro": {
		"servers": [
			{ 
				"host"      : "open.seruro.com",
				"port"		: "443"
				"addresses" : ["ted@valdrea.com", "teddy@prosauce.org"],
				"tls_cert"	: "nothing_here_yet",
			},
			{
				"host"		: "serurotest1.valdrea.com",
				"port"		: "443",
				"addresses	: ["teddy.reed@gmail.com"],
			}
		],
		"update"	: "auto",
		"debug" 	: "true",
	}
}
